@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 16px;

    @media (width >= 1200px) {
        padding-inline: unset;
    }
}

#smooth-content {
    will-change: transform;
}

:root {
    --off-white: #FDFDFD;
    --off-white_50: #FDFDFD50;
    --accent-dark-purple: #1E193A;
    --accent-light-purple: #B29CC6;
    --accent-blue: #43BBC4;
    --accent-pink: #C28CA1;
    --accent-light-pink: #C28CA14D;

    --button-border-radius: calc(infinity * 1px);
    --button-padding-block: 16px;
    --button-padding-inline: 22px;
    --button-font-size: 16px;

    /* Spacings */
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.title-font {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    line-height: 100%;
}

.subtitle-font {
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    line-height: 100%;
}

.montserrat-title {
    font-family: 'Montserrat' !important;
    font-style: italic !important;
    font-weight: 800 !important;
}

.border-radius {
    border-radius: 12px;
}

.section-padding {
    padding-block: 100px;
}

.padding-top {
    padding-top: 100px;
}

.padding-bottom {
    padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
    .section-padding {
        padding-block: 200px;
    }

    .padding-top {
        padding-top: 200px;
    }

    .padding-bottom {
        padding-bottom: 200px;
    }

    .border-radius {
        border-radius: 24px;
    }
}
